.legacy-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.legacy-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.legacy-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.legacy-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.legacy-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.legacy-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.legacy-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.legacy-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.legacy-login {
  margin-right: 32px;
}
.legacy-burger-menu {
  display: none;
}
.legacy-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.legacy-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.legacy-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.legacy-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.legacy-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.legacy-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.legacy-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.legacy-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.legacy-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.legacy-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.legacy-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.legacy-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.legacy-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.legacy-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.legacy-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.legacy-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.legacy-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.legacy-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.legacy-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.legacy-nav222 {
  margin-left: var(--dl-space-space-unit);
}
.legacy-nav322 {
  margin-left: var(--dl-space-space-unit);
}
.legacy-nav422 {
  margin-left: var(--dl-space-space-unit);
}
.legacy-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.legacy-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.legacy-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.legacy-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.legacy-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.legacy-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .legacy-hero1 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .legacy-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .legacy-desktop-menu {
    display: none;
  }
  .legacy-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .legacy-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .legacy-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .legacy-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .legacy-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .legacy-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .legacy-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .legacy-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .legacy-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .legacy-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .legacy-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .legacy-mobile-menu1 {
    padding: 16px;
  }
  .legacy-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .legacy-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .legacy-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .legacy-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .legacy-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
